jupyter
shiny
altair
plotnine
pandas
polars
narwhals
palmerpenguins
shinylive
shinywidgets
seaborn
plotly
ridgeplot
openai
anthropic
chatlas
inspect-ai
maplibre
great-tables
#keplergl
chatlas
python-dotenv
shinychat
querychat
ibis-framework
duckdb
sqlalchemy # needed for Ibis + DuckDB